/*
Theme Name: wp-theme-pc
Theme URI: 
Description: 
Version: 
Author: 
Author URI:
Tags: 
*/




/* ------------------------------------------------
 WordPress
------------------------------------------------ */
/* wp-pagenavi
-------------------------------------------------*/
.wp-pagenavi {
	margin: 80px 0 20px;
	text-align: center;
}
.wp-pagenavi .nextpostslink {
	display: inline-block;
	width: 107px;
	height: 20px;
	margin: 0 15px;
	background: url(image/archive/btn/next_page_off.png) no-repeat;
	text-decoration: none;
}
.wp-pagenavi .nextpostslink:hover {
	background: url(image/archive/btn/next_page_on.png) no-repeat;
}
.wp-pagenavi .previouspostslink {
	display: inline-block;
	width: 107px;
	height: 20px;
	margin: 0 15px;
	background: url(image/archive/btn/prev_page_off.png) no-repeat;
	text-decoration: none;
}
.wp-pagenavi .previouspostslink:hover {
	background: url(image/archive/btn/prev_page_on.png) no-repeat;
}
.wp-pagenavi {
}
/* wpcf7
-------------------------------------------------*/

#shop li .r, .sbop li .r {
	background: #FFDDFC !important;
}
#shop li .g, .shop li .g {
	background: #ddffcC !important;
}
#shop li .b, .shop li .b {
	background: #ffffbb !important;
}
#shop li .yoyaku a, .shop li .yoyaku a {
	color: #333;
	text-decoration: none;
}
#shop li .yoyaku a:hover, .shop li .yoyaku a:hover {
	text-decoration: none;
}
.shop li.y-outer_r, #shop li.y-outer_r {
	background: #FFDDFC;
}
.shop li.y-outer_g, #shop li.y-outer_g {
	background: #ddffcc;
}
.shop li.y-outer_b, #shop li.y-outer_b {
	background: #ffffbb;
}
.postlinkbtn {
	text-decoration: none;
	text-align: center;
	width: 80%;
	height: auto;
	display: block;
	background: #FBF44C;
	padding: 5px;
	margin: 0 20px;
}
.tenpo {
	display: inline-block;
	float: left;
	margin: 0 0 40px;
}
.b_cont2 {
	height: 600px;
}
.contwrap,.vrwrap {
	background-image: url(image/index/creyon2.jpg);
	background-repeat:no-repeat;
	background-position:center center;
    background-size: cover;
	margin: 20px auto;
	width: 900px;
	padding: 35px;
	height: 150px;
}
.contwrap h2 ,.vrwrap h2{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	color: #fff;
	margin: 0 0 30px;
	text-shadow: 0px 0px 10px #000;
}
.contwrap p,.vrwrap p {
	font-weight: bold;
	font-size:1.1em;
	color: #fff;
	text-align: left;
	margin:0 auto;
	text-shadow: 0px 0px 5px #000;
}
.vrwrap {
	background-repeat:repeat;
	background-position:center center;
    background-size: cover;
	margin: 20px auto;
	width: 900px;
	padding: 35px;
	height: auto;
}
#notice-copy{
	height: 250px;
}
#notice-copy p {
	font-size:1.7em;
line-height:1.6em;

}
.pc{display:block;}
.sp{display:none;}