@charset "UTF-8";
/* CSS Document */

@media screen and (max-device-width: 480px) {
body {
-webkit-text-size-adjust: none; /* iPhone */
}
}
/* ============ RESET ============ */

html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}
article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video{display:block; margin:0; padding:0;}
.clearfix:after,
.pageMenu ul:after,
.post:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}
.clearfix{ min-height:1px;}


/*============
class Library
============*/

/*Font Size*/
.fs01 { font-size:70%!important;}
.fs02 { font-size:80%!important;}
.fs03 { font-size:90%!important;}
.fs04 { font-size:110%!important;}
.fs05 { font-size:120%!important;}
.fs06 { font-size:130%!important;}
.fs07 { font-size:140%!important;}
.fs08 { font-size:160%!important;}
.fs09 { font-size:200%!important;}
.fs10 { font-size:250%!important;}

.clear {clear:both;}
.taR {text-align:right!important;}
.taL {text-align:left!important;}
.taC {text-align:center!important}
.bold {font-weight:bold!important;}
.center { text-align:center;}

/*Font color*/
.col1 {	color:#fff!important;}
.col2  { color:#f91a00!important;}
.col3  { color:#001d65!important;}

.floL {float:left!important;}
.floR {float:right!important;}

/*============
/class Library
============*/


/* ============ COMMONE ============ */

body {
	text-align:justify;
	font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height:23px;
	font-size:90%;
	line-height:28px;
	background:url(../image/common/contents_bg.jpg) center top repeat;
	}

/*H1*/
#HeadTxt { background:#670e09;}
h1  { width:970px; margin:0 auto;}

/*HEADER*/
#top_cont {
	background:url(../image/common/head_bg.jpg) center top no-repeat;
	height:249px;
	min-width:960px;
	}
header {width:1000px;margin:0 auto; position:relative;}
.shop_name {width:455px;margin:70px 0 0 40px; line-height:45px;}
.s_name {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:380%;
	margin-left:100px;
	}
.tel {
	margin:138px 0 0 27px; color:#F00;
	text-shadow: #710400 1px 1px 0px,
	#710400 -1px 1px 0px,
	#710400 1px -1px 0px,
	#710400 -1px -1px 0px,
	#fff 4px 4px 6px,
	#fff -4px 4px 6px,
	#fff 4px -4px 6px,
	#fff -4px -4px 6px;
	}
#contact_btn {position: absolute;top: 10px;right: -20px;}
#contact_btn a:hover { opacity:0.7;}
header .navi { margin:-37px 0 0;}
header .navi li {display: inline;margin:0 20px 0 45px;}
header .navi li a { color:#fff; text-decoration:none;}
header .navi li a:hover {
	text-decoration:none;
	text-shadow:
	2px 0px 8px rgba(173,42,76,1),
	0px 2px 8px rgba(173,42,76,1),
	-2px 0px 8px rgba(173,42,76,1),
	0px -2px 8px rgba(173,42,76,1);
	}



/*CONTENTS*/
#contents {
	background: url(../image/common/bg-pataren.png) center top repeat-y;
	padding:0 0 50px;
	}
#main_cont #pin,
#about_main_cont #pin {position:absolute;top:-9px;right:15px;}
.pankuzu {margin: 30px 0 0;}
.pankuzu a { color:#000; text-decoration:none;}
.pankuzu a:hover { color:#000; text-decoration: underline;}
#go_top { position:absolute; bottom:50px; right:-99px;}

/*FOOTER*/
footer {
	height:38px;
	background:url(../image/common/foot_bg.jpg) repeat;
	min-width:960px;
	padding:12px 0 0 0;
	}
footer ul li {display: inline;margin:0 5px;}
footer li a {color: #FFF;text-decoration: none;}
footer li a:hover {	color: #FFF;text-decoration: underline;}

#spLinkBlockInPc{
	display:none;
}

#anchorToSpInPc {  margin: 20px auto; display: block; text-align: center; color: #fff; background: #000; border-radius: 50px; width: 400px; font-size: 30px; line-height:100px; height:100px; text-decoration: none; }