@charset "UTF-8";
/* CSS Document */


/*
=======================
下層ページ
=======================*/
#about_main_cont {
	background:url(../image/common/about_cont_bg.jpg) repeat-y;
	width:970px;
	margin:50px auto;
	padding:0 0 30px;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	position:relative;
	}

/*左カラム*/
/*#left {	height:7000px;width:327px;float:left;}
#left02 {height:11000px;width:327px;float:left;}
#left03 {height:7700px;width:327px;float:left;}
#left04 {height:800px;width:327px;float:left;}
#left05 {height:650px;width:327px;float:left;}*/

#left {	height:400px;width:327px;float:left;}
#left02 {height:400px;width:327px;float:left;}
#left03 {height:400px;width:327px;float:left;}
#left04 {height:800px;width:327px;float:left;}
#left05 {height:400px;width:327px;float:left;}

#left_cont { position:relative;}
.a_cate {margin:50px 0 0;}
.list,.list1,.list2,.list3 {margin:10px 0 0;}
.list1 li { width:220px; margin:0 auto 9px; line-height:19px;}
.list2 li { width:270px; margin:0 auto 9px; line-height:19px; text-align:left;}
.list3 li { width:200px; margin:0 auto 9px; line-height:19px; text-align:left;}

#left_cont li a {color:#000;text-decoration:none; padding:3px 10px; }
#left_cont li a:hover {
	color:#000;text-decoration:none;
	background:rgba(243,244,0,0.7);
	padding:3px 10px;
	}
	
/*右カラム*/
#main_r_cont {float: left;width:600px;margin:0 0 0 15px;}
#sub_title,
#sub_title02,
.sub_ti {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin:30px 0;
	}
.sub_ti { margin:60px 0 10px!important;}
.sub_ti02 { margin:60px 0 10px!important; text-decoration:underline; display:inline-block;}
.pagelink_title {color:#f00;border-bottom:solid 1px #F00;margin:50px 0 15px;}


/*ImageShadow*/
.room_img img,
.party_img img,
#party_thum li img,
.drink img,
.btn li img {
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	}

.info_txt {
	line-height:18px;
	background:#fff;
	padding:10px 0;
	margin:20px 0 10px;
	}
.coupon_txt {
	line-height:18px;
	border-bottom:1px dotted #555;
	padding:10px 0;
	margin:20px 0 10px;
	}
.coupon_bg{
	background:#ffffef;
	padding:20px 30px;	
	margin:20px auto;
	/*border:5px solid #ccc;*/
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	}


/*
=======================
INDEX
=======================*/
#main_v {
	background:url(../image/index/main_v.jpg) center top no-repeat;
	height:585px;
	overflow:hidden;
	}
#main_cont {
	background:url(../image/index/cont_bg.jpg) center top repeat;
	width:860px;
	margin:50px auto;
	position:relative;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	padding:40px 55px;
	}
.main_txt {
	width:800px;
	margin:440px auto 0;
	text-shadow:
	2px 0px 8px rgba(0,0,0,0.5),
	0px 2px 8px rgba(0,0,0,0.5),
	-2px 0px 8px rgba(0,0,0,0.5),
	0px -2px 8px rgba(0,0,0,0.5);
	}
.sub_ti {margin:20px 0}
#news { margin:0 0 50px;}
#news_area .news {width: 100%;	border:none; /*height:200px;*/ height:80px; overflow-y:scroll;}
#map {background:#fff;padding:8px;display: inline-block; margin:0 25px 0 0;}
#map iframe { vertical-align:bottom;}
#address_area { margin:0 0 30px;}
#address_area ul li { line-height:22px;}
#address_area .g_map { 
	margin:30px 0 0;
	}
#address_area .g_map a {
	padding:20px 50px;
	color:#000;
	background:#f6ef75;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	text-decoration:none;
	}
#school_bag {margin:0 0 0 -30px;}
#mid_cont {width:935px;	margin:0 auto;}
#twitter {
	width:300px;
	height:500px;
	background: #48AFFF;
	}
#shop_area {width:610px;}


#shop li .map {text-align:right;height:25px;display:block;}
#shop li .map a .map_pin {margin:0 10px 0 5px;}
#shop li {
	display:inline-block;
	margin:0 6px 20px; 
	background:#fff;padding:5px;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	}
#shop li .map a {text-decoration:none; color:#000;}
#shop li a:hover,#shop li .map a:hover {opacity:0.5;}
.link_btn {
	width: 930px;
	margin:50px auto;
	padding:5px;
	}
.link_btn li {
	display: inline;
	margin:10px 2px;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	}
.link_btn li img { vertical-align:bottom; margin:5px 0;}
.link_btn li a:hover {opacity:0.9;}
#r18 {
	background: #fff;
	width: 100%;
	height: auto;
	margin: 10px auto 20px;
	padding: 20px;
}
#r18 h3{
	font-weight:bold;
	text-align:center;
	font-size:1.3em;	
}
#r18 ul{
	margin:20px;
	width: 25%;
	border:1px #f00 solid;
	padding:30px;
	float:left;
}
#r18 ul li{
	margin:0 auto;
}
#r18 p.r18_side{
	text-align:left;
	padding:30px;
}
/*
=======================
ROOM
=======================*/
#r_main_v {
	background:url(../image/room/main_v.jpg) center top no-repeat;
	height:400px;
	overflow:hidden;
	}


/*
=======================
PARTY
=======================*/
#p_main_v {
	background:url(../image/party/main_v.jpg) center top no-repeat;
	height:400px;
	overflow:hidden;
	}
.party_txt { margin:20px 0;}
#party_thum { width:590px; margin:30px auto;}
#party_thum li {
	float:left;
	text-align:center;
	margin:5px 5px;
	}
.party_ti {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin:80px 0 15px;
	}
.sub_comment { margin:0 0 15px;}
.sub_txt {margin:15px 0 15px 30px;}

.course_menu {
	background:url(../image/party/pattern_mid.png) center top repeat-y;
	width:338px;
	padding:10px 80px;
	margin:0 auto;
	}
.course_menu02 {
	background:url(../image/party/pattern_mid.png) center top repeat-y;
	width:398px;
	padding:10px 50px;
	margin:0 auto;
	}
.pattern_top {
	background:url(../image/party/pattern_top.png) center center no-repeat;
	height:21px;
	margin:30px 0 0;
	}
.pattern_bottom {
	background:url(../image/party/pattern_bottom.png)  center center no-repeat;
	height:21px;
	}
.drink_cate {margin:30px 0 0;}
.drink_menu { margin:0 0 30px;}
.drink_menu li {display: inline;margin:0 10px 0 0;}
#info {	background:#fff;padding:15px;line-height:18px;}
#info .info_txt02 {margin:15px 0;}



/*
=======================
MAP
=======================*/
#a_main_v {
	background:url(../image/access/main_v.jpg) center top no-repeat;
	height:400px;
	overflow:hidden;
	}
.a_map { padding:10px; background:#fff; display:inline-block; margin:0 0 15px;}
.a_map iframe { vertical-align:bottom;}
.adress {font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.a_info {line-height:22px;margin:20px 0 0;}
.btn { margin:30px 0 0;}
.btn li {display:inline;margin:0 8px 0 0;}


/*
=======================
MENU
=======================*/
#m_main_v {
	background:url(../image/menu/main_v.jpg) center top no-repeat;
	height:400px;
	overflow:hidden;
	}
.menu_recoment li {float: left;margin:5px 8px 20px;line-height:21px;}
table {line-height: 23px;width: 100%;margin:10px 0 30px;}
table tr .left {width: 480px;padding:10px 0;}
/*
=======================
about
=======================*/
#ab_main_v {
	background:url(../image/about/main_v.jpg) center top no-repeat;
	height:400px;
	overflow:hidden;
	}
.about_txt { margin:20px 0 0 ;}
.about_img img,
#about_list li img{
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	}

#about_list li {float:left;	width: 270px;margin:15px;}
#about_list .li_title {font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; margin:10px 0;}
/*
=======================
coupon
=======================*/
#c_main_v {
	background:url(../image/coupon/main_v.jpg) center top no-repeat;
	height:400px;
	overflow:hidden;
	}
