@charset "UTF-8";
/* CSS Document */

@media screen and (max-device-width: 480px) {
body {
-webkit-text-size-adjust: none; /* iPhone */
}
}
/* ============ RESET ============ */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}
article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video{display:block; margin:0; padding:0;}
.clearfix:after,
.pageMenu ul:after,
.post:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}
.clearfix{ min-height:1px;}

/* ============ STYLE ============ */
* { box-sizing: border-box; }
body { margin: 0 auto; text-align: justify; width: 750px; color: #333; }
article { background: url(../img/content_bg.jpg) center repeat-y; }
a { color: #333; text-decoration: none; }
a:hover { opacity: 0.8; text-decoration: none; }
.auto { margin-left: 60px; }

/* ============ HEADER ============ */
header { position: relative; }
header h1 { height: 313px; }
header p { position: absolute; top: 50px; right: 100px; }
header p a { display: block; }

/* ============ common ============ */
#main_c { margin: 0 auto; padding: 35px 0 40px; width: 640px; }
p { font-size: 24px; }
#main_c .title2 { margin: 20px 0 0 0; padding-bottom: 40px; font-size: 36px; font-weight: bold; }
#main_c .title3 { margin: 45px 0 0 0; padding-bottom: 25px; font-size: 30px; font-weight: bold; }
#main_c .title3 span { display: block; }
#main_c span.title_op { display: block; font-size: 20px; font-weight: normal; }
#main_c .title4 { margin: 45px 0 35px;  font-size: 24px; font-weight: bold; }
#main_c .bderb { margin-bottom: 30px; border-bottom: 2px solid #848484; }
#main_c .bderr { margin-bottom: 30px; border-bottom: 2px solid #e32525; }
.red { color: #e32525; }
.blue { color: #001d65; }
.center { text-align: center; }
.bold { font-weight: bold; }
.box_sh { box-shadow: -2px 2px 10px rgba(100,100,100,9); }
.box_sh2 { box-shadow: 2px 2px 10px rgba(100,100,100,9); }


/* ============ mainvisual ============ */
#mainvisual { text-align: center; }
#mainvisual img{ vertical-align:bottom; }
#slider { background: url(../img/mainvisual_bg.jpg) center no-repeat; height: 387px; }
#bner { background: url(../img/mainvisual_bg02.jpg) center no-repeat; height: 264px; }
#bner_li { padding-top: 60px; }
#btn li, #bner_li li { display: inline-block; }

/* ============ g_nav ============ */
nav { display: none; background: url(../img/pull_bg.jpg) center repeat-y; }
nav ul { margin: 0 auto; padding: 20px 0; width: 695px; }
nav ul li { height: 135px; line-height: 135px; color: #fff; font-size: 48px; font-weight: bold; border-bottom: 2px solid #fff; }
nav ul li:last-child { border-bottom: none; }
nav ul li a { color: #fff; display: block; width: 695px; }
nav #page_x img { vertical-align: bottom; }
#panel-btn,#page_x { cursor: pointer; }

/* ============ index ============ */
#content { margin: 0 auto; padding-top:25px; width: 708px; }
#main_cwrap { margin-bottom: 30px; background: url(../img/news_bg.jpg) repeat-y; width: 708px; position: relative; box-shadow: 1px 1px 10px rgba(100,100,100,4); }
.clip { position: absolute; top: -10px; right: 20px; }
#main_cwrap .index_t { margin: 0 auto 85px; width: 600px; font-size: 22px; line-height: 45px; letter-spacing: -1px; }
#main_cwrap .index_t th { width: 125px; }
#main_cwrap .index_t td { text-decoration: underline; }
#main_cwrap .index_t td a { color: #000; }
#main_cwrap .room { margin: 0 -31px 20px 0; }
#main_cwrap .room li { margin: 0 37px 20px 0; width: 186px; height: 216px; background: url(../img/access_l.jpg) center no-repeat; float: left; box-shadow: 1px 1px 10px rgba(100,100,100,4); }
#main_cwrap .room li img { margin: 6px; }
#main_cwrap .rand { padding-bottom: 30px; }
.txt_box { margin-left: -8px; }
.nav ul { margin: 0 -8px 20px 0; padding-top: 20px; text-align: center; }
.nav ul li { margin: 0 8px 8px 0; float: left; color: #76717b; font-size: 30px; text-shadow: 2px 2px 1px #fff; box-shadow: 2px 2px 10px rgba(100,100,100,9); }
.nav ul li:nth-child(3n+1) { background-color: #dbf9ce; }
.nav ul li:nth-child(3n+2) { background-color: #f6ef75; }
.nav ul li:nth-child(3n+3) { background-color: #f7d5f7; }
.nav ul li a { display: block; width: 350px; line-height: 80px;color: #76717b; }


/* ============ about ============ */
.pdg { padding-bottom: 65px; }
.b_shadow img { margin-bottom: 15px; box-shadow: 2px 2px 10px rgba(100,100,100,9); }


/* ============ party ============ */
.txt_list { list-style: inside; }
.txt_list li { margin-bottom: 40px; letter-spacing: 3.5px; font-size: 24px; }
.pt_txt_box { margin-bottom: 55px; height: 170px; background-color: #fff; }
.pt_txt { padding: 25px 20px; font-size: 22px; font-weight: bold; line-height: 40px; }
.caution { margin-top: 15px; padding: 45px 20px; border: 3px double #333; border-radius: 15px; }
.caution ul li { margin-bottom: 30px; font-size: 22px; font-weight: bold; }
.caution ul li:last-child { margin-bottom: 0; letter-spacing: -2.5px; }

/* ============ menu ============ */
#main_c .menu_lis { margin-right: -20px; }
#main_c .menu_lis li { margin-right: 20px; height: 440px; text-align: center; font-weight: bold; float: left; }
#main_c ul li span { font-size: 24px; letter-spacing: -2px; line-height: 25px; display: block; }
#main_c .menu_lis li img { margin-bottom: 20px; }
#main_c ul li span em { font-size: 18px; }
.pt_txt2 { padding: 15px 20px; font-size: 24px; font-weight: bold;}

/* ============ archive ============ */
.archive_box { margin-top: 50px; }
.av_news { margin: 50px -70px 0 0; }
.av_news li { margin-right:70px; float: left; }
.av_title li { margin-left: 15px; line-height: 40px; }

/* ============ album ============ */
.album_lis { margin-right: -10px; }
.album_lis li { margin: 0 8px 35px 0; text-align: center; float: left; }
.album_lis li img { margin-bottom: 20px; box-shadow: -2px 2px 10px rgba(100,100,100,9); }
#main_c .album_lis li span { font-size: 20px; font-weight: bold; }

/* ============ access ============ */
#main_c iframe { margin: 60px 0 45px; }
.ac_link { margin-bottom: 45px; }
.ac_link li { margin-bottom: 25px; }
.ac_link li img { box-shadow: 2px 2px 10px rgba(100,100,100,9); }

/* ============ contact ============ */
#contact { margin: 50px 0 100px; font-size: 25px; }
#contact dh { line-height: 60px; }
#contact dh .f_txt { width: 300px; display: inline-block; }
#contact dh span { padding: 10px 0 0 30px; font-size: 20px; color: #f00; background: url(../img/check_i.png) left no-repeat; }
#contact dd ul { margin-bottom: 30px; }
#contact dd ul li { width: 25%; float: left; }
#contact dd ul li input, #contact dd ul li label { vertical-align: middle; }
#contact .text_area { width: 100%; height: 300px; resize: none; }
#contact dd input.sendbtn { margin-top: 20px; width: 350px; height: 70px; line-height: 70px; font-size: 32px; border: none; background-color: #f6ef75; }
.room_lis { margin: 35px -20px 0 0; }
.room_lis li { margin: 0 20px 35px 0; float: left; }

/* ============ sideber ============ */
#sidebar .baner { margin: 0 -12px 20px 0; list-style: none; }
#sidebar .baner li { margin: 0 10px 15px 0; width: 350px; float: left; }
.icon_wrap li { margin: 0 0 0 55px; float: left; }
.icon_wrap li:nth-child(3) { margin-top: -70px; }

/* ============ footer ============ */
footer { background: url(../img/footer_bg.jpg) center no-repeat; text-align: center; }
footer small { padding: 45px 0 30px; color: #fff; display: block; }

.f18 {font-size: 18px;}
.f20 {font-size: 20px;}
.f22 {font-size: 22px;}
#main_c ul li span.f30 { font-size: 30px;line-height: 50px; }
