@charset "UTF-8";
/* CSS Document */

@media screen and (max-device-width: 480px) {
body {
-webkit-text-size-adjust: none; /* iPhone */
}
}
/* ============ RESET ============ */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}
article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video{display:block; margin:0; padding:0;}
.clearfix:after,
.pageMenu ul:after,
.post:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}
.clearfix{ min-height:1px;}

/* ============ STYLE ============ */
* { box-sizing: border-box; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
body { margin: 0 auto; text-align: justify; width: 750px; color: #333; }
article { background: url(../img/body_bg.jpg) center repeat-y; padding:0 0 40px;}
a { color: #333; text-decoration: none; }
.auto { margin-left: 60px; }

/* ============ HEADER ============ */
header { position: relative; }
header h1 { height: 313px; }
header p { position: absolute; top: 30px; right: 25px; }
header p a { display: block; }

/* ============ common ============ */
#main_c { margin: 0 auto; padding: 35px 0 40px; width: 640px; }
p { font-size: 26px; }
#main_c .title2 { margin: 20px 0 0 0; padding-bottom: 40px; font-size: 38px; font-weight: bold; }
#main_c .title3 { margin: 45px 0 0 0; padding-bottom: 25px; font-size: 36px; font-weight: bold; }
#main_c .title3 span { display: block; }
#main_c span.title_op { display: block; font-size: 22px; font-weight: normal; }
#main_c .title4 { margin: 45px 0 35px;  font-size: 26px; font-weight: bold; }
#main_c .bderb { margin-bottom: 30px; border-bottom: 2px solid #848484; }
#main_c .bderr { margin-bottom: 30px; border-bottom: 2px solid #e32525; }
.red { color: #e32525; }
.blue { color: #001d65; }
.center { text-align: center; }
.bold { font-weight: bold; }
.box_sh { box-shadow: -2px 2px 10px rgba(100,100,100,9); }
.box_sh2 { box-shadow: 2px 2px 10px rgba(100,100,100,9); }
.under { text-decoration: underline; }


/* ============ mainvisual ============ */
#mainvisual { text-align: center; }
#mainvisual img{ vertical-align:bottom; }
#slider { background: url(../img/mainvisual_bg.jpg) center no-repeat; height: 387px; }
.s_under { margin-top: -10px; }

/* ============ g_nav ============ */
nav { display: none; background: url(../img/pull_bg.jpg) center repeat-y; }
nav ul { margin: 0 auto; padding: 20px 0; width: 695px; }
nav ul li { height: 135px; line-height: 135px; color: #fff; font-size: 48px; font-weight: bold; border-bottom: 2px solid #fff; }
nav ul li:last-child { border-bottom: none; }
nav ul li a { color: #fff; display: block; width: 695px; }
nav #page_x img { vertical-align: bottom; }
#panel-btn,#page_x { cursor: pointer; }

/* ============ index ============ */
#content { margin: 0 auto; padding-top:25px; width: 708px; }
#main_cwrap { margin-bottom: 30px; background: url(../img/content_bg.jpg) repeat-y; width: 708px; position: relative; box-shadow: 1px 1px 10px rgba(100,100,100,4); }
.clip { position: absolute; top: -10px; right: 20px; }
#news_area .news {width: 100%;	border:none; /*height:200px;*/height:80px; overflow-y:scroll; font-size: 26px !important;}
#main_cwrap .index_t { margin: 0 auto 85px; width: 600px; font-size: 24px; line-height: 45px; letter-spacing: -1px; }
#main_cwrap .index_t th { width: 125px; }
#main_cwrap .index_t td { text-decoration: underline; }
#main_cwrap .index_t td a { color: #000; }
.nav ul { margin: 0 -8px 20px 0; padding-top: 20px; text-align: center; }
.nav ul li { margin: 0 8px 8px 0; float: left; }
.nav ul li img { box-shadow: 2px 2px 10px rgba(100,100,100,9); }
.txt {
	margin: 0 auto 55px;
	width: 640px;
	font-size: 30px;
	color: #fff;
	text-shadow:
	2px 0px 8px rgba(0,0,0,0.5),
	0px 2px 8px rgba(0,0,0,0.5),
	-2px 0px 8px rgba(0,0,0,0.5),
	0px -2px 8px rgba(0,0,0,0.5);
	}
.border01 { margin-bottom:30px; width: 640px; height:360px; border: 5px solid #fff; }
#r18 {
	background: #fff;
	height: auto;
	margin: 10px auto 20px;
	padding: 20px;
}
#r18 h3{
	font-weight:bold;
	text-align:left;
}
#r18 ul{
	margin:20px;
	border:1px #f00 solid;
	padding:30px;
}
#r18 ul li{
	font-size:1.3em;
	line-height:1.8em;
	margin:0 auto;
}
#r18 p{
	font-size:1.2em;
	text-align:left;
	padding:30px;
}

/* ============ access ============ */
.link li { margin-top: 25px; }
.map { border: 5px solid #fff; margin-bottom: 20px; height:340px; }

/* ============ menu ============ */
#menulist ul { margin: 0 -25px 25px 0; }
#menulist li { margin: 0 20px 25px 0; float: left; text-align: center; font-size: 20px; }
#menulist dl { margin-bottom: 50px; }
#menulist span { display: block; }
#menulist dh { width: 480px; font-size: 22px; float: left; }
#menulist dd { width: 160px;  text-align: right; vertical-align: top; font-size: 20px; letter-spacing: -1.5px; color: #001d65; float: left; }
#menulist dh b,#menulist dd b,#menuCom p b { font-size: 26px; }
#menuCom { padding: 20px; background: #fff; }
#menuCom p { font-size: 22px; }

/* ============ room ============ */
.roomTxt { margin: 20px 0; padding: 20px; background: #fff; text-align: center; font-weight: bold; }
.roomTxt span { color: #e32525; }
#roomList img { box-shadow: 1px 1px 10px rgba(100,100,100,4); }


/* ============ party ============ */
#partyList { font-size: 22px; }
#partyList img { box-shadow: 1px 1px 10px rgba(100,100,100,4); }
#partyList .courseList { margin: 0 -20px 50px 0; }
#partyList .courseList li { margin-right: 15px; text-align: center; float: left; }
#partyList .courseList li span { margin: 10px 0 15px; font-weight: bold; display: block; }
#partyList dl { margin-bottom: 10px; }
#partyList dh,#partyList dd { font-size: 26px; font-weight:bold; }
#partyList dh { float: left; }
#partyList dd { float: right; }
.popMenu { margin-bottom: 10px; text-align: center; }
.popMenu span { display: block; }
.txtBox { margin: 20px 0 15px; padding: 20px 0; text-align: center; background: #fff; font-weight: bold; }
.course { margin: 20px 0 60px; padding: 30px 0 30px 30px; border: 4px double #333; border-radius: 20px; background: #fefff3; font-size:26px;}
.course p { margin: 0 0 20px -50px; text-align: center; font-size:32px; font-weight:bold;}
.course li { margin-bottom: 20px; font-weight: bold; }
.boxTxt { margin: 20px 0; padding: 30px 25px; background: #fff; }
.p_list { font-size:26px; margin:25px 0;}

/* ============ coupon ============ */
#coupon { font-size: 22px; }
#coupon img { box-shadow: 1px 1px 10px rgba(100,100,100,4); }
#coupon .couponList { margin: 0 -20px 50px 0; }
#coupon .couponList li { margin-right: 15px; text-align: center; float: left; }
#coupon .couponList li span { margin: 10px 0 15px; font-weight: bold; display: block; }
#coupon .coupon_bg{
	background:#ffffef;
	padding:20px 30px;	
	margin:20px auto;
	/*border:5px solid #ccc;*/
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	}

#coupon dl { margin-bottom: 10px; }
#coupon dh,#coupon dd { font-size: 26px; font-weight:bold; }
#coupon dh { float: left; }
#coupon dd { float: right; color:red;}
.popMenu { margin-bottom: 10px; text-align: center; }
.popMenu span { display: block; }
.txtBox { margin: 20px 0 15px; padding: 20px 0; text-align: center; border-bottom:1px dotted #ccc; font-weight: bold; color:red;}
.course { margin: 20px 0 60px; padding: 30px 0 30px 30px; border: 4px double #333; border-radius: 20px; background: #fefff3; font-size:26px;}
.course p { margin: 0 0 20px -50px; text-align: center; font-size:32px; font-weight:bold;}
.course li { margin-bottom: 20px; font-weight: bold; }
.boxTxt { margin: 20px 0; padding: 30px 25px; background: #fff; }
.p_list { font-size:26px; margin:25px 0;}

/* ============ about ============ */
.pdg { padding-bottom: 65px; }
.b_shadow img { margin-bottom: 15px; box-shadow: 2px 2px 10px rgba(100,100,100,9); }


/* ============ sideber ============ */
#sidebar .room { margin: 0 auto; padding-bottom: 70px; width:588px; }
#sidebar .room li { margin: 0 10px 15px 0; width: 186px; height: 216px; background: url(../img/access_l.jpg) center no-repeat; float: left; box-shadow: 1px 1px 10px rgba(100,100,100,4); }
#sidebar .room li img { margin: 6px; }

/* ============ footer ============ */
footer { margin-top: -56px; background: url(../img/footer_bg.png) center no-repeat; height:183px; text-align: center; }
footer small { padding-top: 60px; color: #fff; font-size: 32px; display: block; }

.f18 {font-size: 18px;}
.f20 {font-size: 20px;}
.f22 {font-size: 22px;}
.margin01 { margin-bottom: 40px; }
#main_c ul li span.f30 { font-size: 30px;line-height: 50px; }

#anchorToPcInSp { margin: 20px auto; display: block; text-align: center; color: #fff; background: #000; border-radius: 50px; width: 400px; font-size: 25px; padding:5px 0;  }

/* ============ ht_gadget ============ */
.ht_gadget {width:80%; margin:0 auto; zoom:2.2;}
.ht_gadget .HPG_reserveGadgetsWrap .HPG_reserveGadgetsTitle { font-size: 20px !important;}
.ht_gadget .HPG_reserveGadgetsWrap .HPG_reserveGadgetsListSelect{font-size:1.6em !important;}
.ht_gadget .HPG_reserveGadgetsWrap .HPG_submitArea > a  { font-size: 25px !important;}
.ht_gadget .HPG_reserveGadgetsWrap img{width:90%!important; margin:0 auto!important;}
