/*
Theme Name: wp-theme-sp
Theme URI: 
Description: 
Version: 
Author: 
Author URI:
Tags: 
*/

/* WordPress
-------------------------------------------------*/


/* news
-------------------------------------------------*/
.pankuzu {
	margin-bottom: 50px; 
	font-size: 18px;
}
.post {
	margin-bottom: 20px;
}
.post .post_day {
	margin-bottom: 20px;
	font-size: 18px;
}
.post .post_title {
	margin: 0 0 30px;
	padding-bottom: 40px;
	border-bottom: 2px solid #848484;
	font-size: 36px;
	font-weight: bold;
}


/* single
-------------------------------------------------*/
.pagenation {
	margin: 50px 0;
	text-align: center;
}
.pagenation li {
	display: inline;
	margin: 0 24px;
}
.pagenation li a {
	display: inline-block;
}



/* bottom_cont
-------------------------------------------------*/
#bottom_cont {}
#bottom_cont ul {}
#bottom_cont ul li {
	margin-left: 15px;
	font-size: 22px;
	line-height: 40px;
}


/* wp-pagenavi
-------------------------------------------------*/
.wp-pagenavi {
	margin: 50px 0;
	text-align: center;
}
.wp-pagenavi .nextpostslink {
	display: inline-block;
	width: 89px;
	height: 31px;
	margin: 0 15px;
	background: url(img/next_av.png) no-repeat;
	text-decoration: none;
}
.wp-pagenavi .nextpostslink:hover {
	background: url(img/next_av.png) no-repeat;
}
.wp-pagenavi .previouspostslink {
	display: inline-block;
	width: 89px;
	height: 31px;
	margin: 0 15px;
	background: url(img/prev_av.png) no-repeat;
	text-decoration: none;
}
.wp-pagenavi .previouspostslink:hover {
	background: url(img/prev_av.png) no-repeat;
}



/* wpcf7 */

#main_cwrap .room { margin: 0 -31px 20px 0; }
#main_cwrap .room li.y-outer_r,
#main_cwrap .room li.y-outer_g,
#main_cwrap .room li.y-outer_b {
 text-align:center;
  font-size:1.2em;
font-weight:bold;
 margin: 0 37px 20px 0; 
 width: 186px; 
 height: 50px; 
 background-image:none; 
 padding:5px;
 float: left; 
 box-shadow: 1px 1px 10px rgba(100,100,100,4); 
 }
#main_cwrap .room li .r{ background:#FFDDFC !important;}
#main_cwrap .room li .g{ background:#ddffcC !important;}
#main_cwrap .room li .b{ background:#ffffbb !important;}
#main_cwrap .room li .yoyaku a{ color:#333; text-decoration:none;}
#main_cwrap .room li .yoyaku a:hover{ text-decoration:none;}
#main_cwrap .room li.y-outer_r{background:#FFDDFC;}
#main_cwrap .room li.y-outer_g{background:#ddffcc;}
#main_cwrap .room li.y-outer_b{background:#ffffbb;}

.contwrap,.vrwrap {
	background-image: url(img/creyon2.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	    background-size: cover;
	margin: 20px auto;
	width: 100%;
	padding: 35px;
	height: auto;
}
.contwrap h2,.vrwrap h2 {
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	color: #fff;
	margin: 0 0 30px;
	text-shadow: 0px 0px 10px #000;
}
.contwrap p,.vrwrap p {
	font-weight: bold;
	font-size:1.5em;
	color: #fff;
	text-align: left;
	margin:0 auto;
	text-shadow: 0px 0px 5px #000;
}
#notice-copy{
}
#notice-copy p {
	font-weight: bold;
	font-size:1.8em;
}
.pc{display:none!important;}
.sp{display:block!important;}
