.base_row{
  display: none;
}
table{

  border: 1px solid;
  border-collapse: collapse;
  tr:nth-child(2n) {
    border-bottom: solid 1px;
  }
  tr.active{
    background-color: #e3e3e3;
  }
}


input,
textarea{
  width: 100%;
}
table{
  width: 100%;
}

.course_update_field{
  display: none;
}
.course_update_field.active{
  display: block;
}
.image_wrapper{
  text-align: center;
  padding: 15px;
  img{
    max-width: 100%;  }
}
.content{
  overflow: hidden;
  .left{
    float: left;
    width: 50%;
  }
  .right{
    float: right;
    width: 50%;
  }

}

.add_field{
  text-align: center;

}
.course_table{
  max-height: 600px;
  overflow: auto;
}

.thumbnail_img{
  max-width: 100px;
}

@media screen and (max-width: 960px) {

  .content{
    overflow: hidden;
    .left{
      float: none;
      width: 100%;
    }
    .right{
      float: none;
      width: 100%;
    }

  }

}.course_field_wrapper{
  max-height: 600px;
  overflow: scroll;
 }

 tr{
   td:nth-of-type(1),
   th:nth-of-type(1){
     width: 75px;
     text-align: center;
   }
   td:nth-of-type(2),
   th:nth-of-type(2){

     width: 110px;
     text-align: center;
   }
   td:nth-of-type(4),
   th:nth-of-type(4){
     width: 50px;
     text-align: center;
   }
 }