@charset "UTF-8";
/* CSS Document */

@media screen and (max-device-width: 480px) {
body {
-webkit-text-size-adjust: none; /* iPhone */
}
}
/* ============ RESET ============ */

html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}
article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video{display:block; margin:0; padding:0;}
.clearfix:after,
.pageMenu ul:after,
.post:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}
.clearfix{ min-height:1px;}


/*============
class Library
============*/

/*Font Size*/
.fs01 { font-size:70%!important;}
.fs02 { font-size:80%!important;}
.fs03 { font-size:90%!important;}
.fs04 { font-size:110%!important;}
.fs05 { font-size:120%!important;}
.fs06 { font-size:130%!important;}
.fs07 { font-size:140%!important;}
.fs08 { font-size:160%!important;}
.fs09 { font-size:200%!important;}

.clear {clear:both;}
.taR {text-align:right!important;}
.taL {text-align:left!important;}
.taC {text-align:center!important}
.big {font-size:170%!important;line-height:130%}
.bold {font-weight:bold!important;}
.center { text-align:center;}
.left { text-align:left;}

/*Font color*/
.col1 {	color:#fff!important;}
.col2  { color:#2088C8!important;}
.col3  { color:#001d65!important;}
.col4  { color:#d3311e!important;}

.floL {float:left;margin-top:0 !important;}
.floR {float:right;margin-top:0 !important;}
.light {font-weight:normal}
.floL img{margin-right:10px;}
.floR img{margin-left:10px;}

/*============
/class Library
============*/


/* ============ COMMONE ============ */

body {
	text-align:justify;
	font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height:23px;
	font-size:90%;
	line-height:28px;
	background:url(../image/common/contents_bg.jpg) center top repeat;
	}
	

/*H1*/
#HeadTxt { background:#670e09;}
h1  { width:970px; margin:0 auto;}

/*HEADER*/
header {
	width:960px;
	margin:0 auto;
	background:url(../image/common/sub_name.png) 65px 30px no-repeat;
	height:250px;
	position: relative;
	overflow:hidden;
	}
#main_logo {margin:7px 0 0 393px;}
#contact_btn {position: absolute;top: 30px;right: 150px;}
#contact_btn a:hover { opacity:0.5;}

/*NAVI*/
nav {margin: -48px 0 0;	position:relative;z-index:9999;}
nav #left_menu {float: left; padding:0 0 0 4px;}
nav #left_menu li {display:inline;margin:0 50px 0 0;}
nav #right_menu {float: right; padding:0 4px 0 0;}
nav #right_menu li {display:inline;margin:0 0 0 40px ;}
#left_menu li a,
#right_menu li a {color: #FFF;text-decoration: none;}
#left_menu li a:hover,
#right_menu li a:hover {
	color:#fff;
	text-shadow:
	2px 0px 8px rgba(173,42,76,1),
	0px 2px 8px rgba(173,42,76,1),
	-2px 0px 8px rgba(173,42,76,1),
	0px -2px 8px rgba(173,42,76,1);
	}
#main_cont {
	background:url(../image/common/main_cont_bg.jpg) repeat-y;
	width:970px;
	margin:0 auto;
	padding:0 0 30px;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	position:relative;
	}
#main_cont #pin {position:absolute;top:-9px;right:15px;}
#contents {
	background:url(../image/common/cont_bg_pattern.png) center top repeat-y;
	margin:30px 0 0;
	padding:0 0 40px;
	}
.pankuzu {margin: 30px 0 0;}
.pankuzu a { color:#000; text-decoration:none;}
.pankuzu a:hover { color:#000; text-decoration: underline;}

#go_top { position:absolute; bottom:50px; right:-99px;}

.a_list1{ padding:0 20px ;/*160328追記*/} 

/*FOOTER*/
footer {height:38px; background:url(../image/common/foot_bg.jpg) repeat; min-width:960px; padding:12px 0 0 0;}
footer ul li {display: inline;margin:0 5px;}
footer li a {color: #FFF;text-decoration: none;}
footer li a:hover {	color: #FFF;text-decoration: underline;}
