@charset "UTF-8";
/* CSS Document */



	
/*
=======================
下層ページ
=======================*/

/*左カラム*/
.a_cate {margin:50px 0 0;}
.list,.list1,.list2,.list3 {margin:10px 0 0;}
.list1 li { width:220px; margin:0 auto 9px; line-height:19px; }
.list2 li { width:240px; margin:0 auto 9px; line-height:19px; text-align:left;}
.list3 li { width:200px; margin:0 auto 9px; line-height:19px; text-align:left;}
#left_cont li { margin-bottom:10px;}
#left_cont li a {color:#000;text-decoration:none; padding:3px 10px; }
#left_cont li a:hover {color:#000;text-decoration:none; background:rgba(243,244,0,0.7); padding:3px 10px; }
#left_cont .a_list1 li {border-bottom:dotted 1px #FF0000; }


/*右カラム*/
#sub_title { font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; margin:30px 0;}
.pagelink_title {color:#f00;border-bottom:solid 1px #F00;margin:50px 0 15px;}




/*
=======================
INDEX
=======================*/

/*TOP-CONTENTS-AREA======*/
#top_cont {	background:url(../image/index/top_bg.jpg) center bottom no-repeat;height:873px; min-width:960px;}
/*SLIDE*/
.swiper-container {width:960px;height: 400px; margin:0 auto;}
.link_btn {width: 889px;margin:5px auto 0;}
.link_btn li {float:left;line-height:10px;}



.nock a{
display:block!important;
text-decoration:none;
color:transparent;
}
.nock a span{
display:block!important;
width: 100%!important;
height:400px!important;
background-color:rgba(255,255,255,0.1);
}

/*MAIN-CONTENTS-AREA======*/	
/*LEFT*/
#left_cont {width:327px;float:left;}
#left_cont .sns_title {margin:40px 0 0 10px;}
#left_cont .banner {	margin:30px 0 0;}
#insta_area  {
	background:#fff;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	width:300px;
	margin:20px auto;
	padding:10px 0 ;
	}
.instagram{
	width:300px;
	height:280px;
	overflow:auto;
	margin:0 auto;
	}
.insta_logo { margin:0 0 0 10px;}
.instagram-image { width:90%;}
.instagram-placeholder {float: left;}


/*RIGHT*/
#main_r_cont {float: left;width:600px;margin:0 0 0 15px;}
.sub_title {margin:40px 0 0;}

#news,#media {	margin:15px 0 0; height:auto;/*height:190px;*/ overflow: hidden;}
#news li span 
,#media li span 
{color: #F00;}
#news li a 
,#media li span 
{color: #000;text-decoration: none;}
#news li a:hover
,#media li a:hover{color: #000;text-decoration: underline;}

#shop{ margin:30px 0 0 ;}
#shop li .map a,#shop li .yoyaku {text-decoration:none!important; color:#000 !important;}
#shop li .map {text-align:right;height:25px;display:block;}
#shop li .map a .map_pin {margin:0 10px 0 5px;}
#shop li a:hover,#shop li .map a:hover,#yoyaku a:hover {opacity:0.5;}
#shop li {
	display:inline-block;
	margin:0 6px 20px; 
	background:#fff;padding:5px;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	}
#shop li .yoyaku {color:#333; text-decoration:none; text-align:center; width:163px; height:25px;display:block; background:#FFDDFC !important; padding:5px;}

.shop { margin:0 0 30px;}
.shop li .map a,.shop li .yoyaku {text-decoration:none!important; color:#000 !important;}
.shop li a:hover,.shop li .map a:hover,.yoyaku a:hover {opacity:0.5;}

.shop li .map {text-align:right;height:25px;display:block;}
.shop li .map a .map_pin {margin:0 10px 0 5px;}
.shop li {
	display:inline-block;
	margin:0 6px 20px; 
	background:#fff;padding:5px;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	}
.shop li .yoyaku {color:#333; text-decoration:none; text-align:center; width:163px; height:25px;display:block; background:#FFDDFC !important; padding:5px;}
.shop li .map a,.shop li .yoyaku {text-decoration:none; color:#000;}

.shop li a:hover,.shop li .map a:hover,.yoyaku a:hover {opacity:0.5;}

#greeting,#r18 {text-align: center;margin:30px 0 0 15px;}



/*
=======================
ARCHIVE
=======================*/
#a_top_cont {background:url(../image/archive/top_bg.jpg) center top no-repeat;height:646px; min-width:960px;}


.post .post_day {margin:20px 0 0;}
.post .post_title {color:#f00;border-bottom:solid 1px #F00;margin:5px 0 15px;}
.post p{ margin:0 0 20px;}
.post img {
	border:solid 5px #fff;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	}
.pagenation {margin:80px 0 20px;}
.pagenation li {display: inline;margin:0 40px 0 0;}
.pagenation li:last-child { margin:0 }




/*
=======================
ABOUT
=======================*/
#about_top_cont {background:url(../image/about/top_bg.jpg) center top no-repeat;height:646px; min-width:960px;}
.about_txt { margin:20px 0 0 ;}
.about_img img,
#about_list li img{
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	}

#about_list li {float:left;	width: 270px;margin:15px;}
#about_list .li_title {font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; margin:10px 0;}

/*
=======================
SOUBETSU
=======================*/
#soubetsukai_top_cont {background:url(../image/soubetsukai/top_bg.jpg) center top no-repeat;height:646px; min-width:960px;}
.soubetsukai_txt { margin:20px 0 0 ;}
.soubetsukai_img img,
#soubetsukai_list li img{
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	}

#soubetsukai_list li {float:left;	width: 270px; height:340px; margin:15px;}
#soubetsukai_list .li_title {font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; margin:10px 0;}


/*
=======================
DOUSOUKAIand dousoukai
=======================*/
#dousoukai_top_cont,#bounenkai_top_cont {background:url(../image/dousoukai/top_bg.jpg) center top no-repeat;height:646px; min-width:960px;}
.dousoukai_txt { margin:20px 0 0 ;}
.dousoukai_img img,
#dousoukai_list li img,#bounenkai li img{
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	}
.sec_title {margin:50px 0 20px;}

.dousoukai_list li {float:left;	width: 270px; height:340px; margin:15px;}
.dousoukai_list .li_title {font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; margin:10px 0;}


.dousoukai_list2 ul{float:left;	width: 565px; height:340px; margin:30px 0;}
.dousoukai_list2 li{float:left; margin:10px;}

ul.inq-btn{
	width:100%;
	float:none;
	margin:50px 0;
}
ul.inq-btn li {
	color:#fff;
	font-weight:bold;
	text-align:center;
    display: block;
    margin: 0 10px 20px;
    background: #3B0000;
    padding: 10px;
    box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
}
ul.inq-btn li a{
	color:#fff !important;
	text-decoration:none;
}
ul.inq-btn li a:hover{
	color:#fff;
}
.b_cont2  { background: url(../image/dousoukai/bottom_cont_bg2.png) center top no-repeat; height:272px; padding:12px 50px; }


/*
=======================
PARTY
=======================*/
#party_top_cont {background:url(../image/party/top_bg.jpg) center top no-repeat;height:646px; min-width:960px;}
.inn_box {background:url(../image/party/img01.png) left top no-repeat; padding:0 0 0 310px; height:310px; margin:50px 0  ;}
.inn_box2 {background:url(../image/party/img02.png) right top no-repeat; padding:0 310px 0 0 ; height:310px; margin:50px 0  ;}
.inn_box3 {background:url(../image/party/img03.png) left top no-repeat; padding:0 0 0 310px; height:310px; margin:50px 0  ;}
.inn_box4 {background:url(../image/party/img04.png) right top no-repeat; padding:0 310px 0 0 ; height:310px; margin:50px 0  ;}
.inn_box5 {background:url(../image/party/img05.png) left top no-repeat; padding:0 0 0 310px; height:310px; margin:50px 0  ;}
.inn_box5 .p_sub { margin:-30px 0 0 120px;}
.inn_box8 {background:url(../image/party/img08.jpg) right top no-repeat; padding:0 310px 0 0 ; height:310px; margin:50px 0  ;}
#omoshiro {list-style-type: disc; padding:0 0 0 20px; margin: 20px 0 0;}
.party_info {line-height:18px; background:#fff; padding:10px 40px; margin:20px 0 0;}
.kousoku { margin:60px 0 20px;}
.b_cont  { background: url(../image/party/bottom_cont_bg.png) center top no-repeat; height:272px; padding:12px 50px; }


/*
=======================
MENU
=======================*/
#menu_top_cont {background:url(../image/menu/top_bg.jpg) center top no-repeat;height:646px; min-width:960px;}
.menu_list { margin:30px 0 0;}
.menu_list li {	float: left;line-height:18px;height:260px;width:200px;}
.al_sub { margin:40px 0 0;}
.photo img {
	margin:20px 0 30px;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	}



/*
=======================
PHOTO
=======================*/
#photo_top_cont {background:url(../image/album/top_bg.jpg) center top no-repeat;height:646px; min-width:960px;}
#al_list { margin:20px 0 0;}
#al_list li { float: left;line-height:18px;height:350px;width:285px;}
.b_cont02  { background: url(../image/album/bottom_cont_bg.png) center top no-repeat; height:116px; padding:30px 40px 0; }



/*
=======================
NEWS
=======================*/
#news_top_cont {background:url(../image/news/top_bg.jpg) center top no-repeat;height:646px; min-width:960px;}



/*
=======================
SHOP
=======================*/
#shop_top_cont {background:url(../image/shop/top_bg.jpg) center top no-repeat;height:646px; min-width:960px;}
#left_cont .place {	text-align: left;margin:20px 0 0 70px;}
.shop_area { border-top:solid 1px #797979; padding:30px 0 10px; margin:50px 0;}
.shop_area .shop_name {	margin:0 0 20px;}
.shop_area .map_pic li {float:left;border:solid 5px #fff;margin:0 25px 0 0; height:194px;}
.shop_area .address {padding:20px 0 0;}
.address_list {	margin:20px 0 0;}
.shop_link { margin:30px 0 0;}
.shop_link li {
	float: left;
	margin:0 15px 0 0;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	}
.shop_link li a:hover { opacity:0.7;}
.shop_link li img { vertical-align:bottom;}



/*
=======================
CONTACT
=======================*/
#contact_top_cont {background:url(../image/contact/top_bg.jpg) center top no-repeat;height:646px; min-width:960px;}
.c_cate {margin:50px 0 0 75px; text-align:left;}
.contact_list {	margin:50px 0 0;}
.contact_list .cl_cate {margin:20px 0 5px; background:url(../image/contact/hissu.png) right center no-repeat; height:18px; padding:0 60px 0 0; display:inline-block;}
.contact_list li input {width: 400px;}
.contact_list li .wpcf7-list-item input {width: 15px;height:15px;}
.contact_list li .other_b {width: 100px;}
.contact_list li .comment {	height: 200px;	width: 450px;}
.contact_list li label { padding:0 20px 0 0;}
#main_r_cont .c_btn01 {
	font-size:120%;
	margin:50px 0 0;
	border:none;
	padding:20px 100px;
	background:#f6ef75;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	}

	
#c_shop_area  { margin:80px 0 0;}
#c_shop_info { margin:30px 0 0;}
#tenpo { display: inline-block; float:left; margin:0 0 40px;}
#tenpo .shop_info_area {
	display:inline-block;
	margin:0 5px 10px; 
	background:#fff;padding:5px;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
}
#tenpo .shop_info_area img { margin:0 0 0 5px;}
#tenpo .tel {
	background:url(../image/contact/tel.png) left center no-repeat; padding:0 0 0 20px; width:150px; margin:0 auto;
}
#tenpo .gurunabi {
	margin:10px 0 0;
	display:inline-block;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
}
#tenpo .gurunabi img { vertical-align:bottom;}

.tenpo { display: inline-block; float:left; margin:0 0 40px;}
.tenpo .shop_info_area {
	display:inline-block;
	margin:0 5px 10px; 
	background:#fff;padding:5px;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
}
.tenpo .shop_info_area img { margin:0 0 0 5px;}
.tenpo .tel {
	background:url(../image/contact/tel.png) left center no-repeat; padding:0 0 0 20px; width:150px; margin:0 auto;
}
.tenpo .gurunabi {
	margin:10px 0 0;
	display:inline-block;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
}
.tenpo .gurunabi img { vertical-align:bottom;}
